.main {
    height: calc(100vh - 72px);
    margin-top: 72px;


    .wrapper {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}